form {
    margin: 0 auto;
    font-weight: bold;
    background:
        linear-gradient(-135deg, transparent 1.5rem, #ffefcb 0);
        border: #ffefcb;
}
 
#newtask {
    text-align: center;
}
 
.card {
    background:
    linear-gradient(-135deg, transparent 1.5rem, #ffefcb 0);
    border: none;
    position: relative;
}

.list-group-item {
    border: none;
    width: 70%;
    margin-left: 25px;
    justify-content: center !important;
 
}

#descriptiontext {
    margin-bottom: 10px;;
}

.status {
    font-size: x-small;
}
